<h2>Icon</h2>

<hr/>
<h3>Size</h3>
<pre>
    &lt;s-icon class=&quot;icon--extra-large apple-logo&quot;&gt;&lt;/s-icon&gt;
</pre>
<div class="wrapper">
    <s-icon class="icon--extra-large apple-logo"></s-icon>
    <s-icon class="icon--large apple-logo"></s-icon>
    <s-icon class="icon--medium apple-logo"></s-icon>
    <s-icon class="icon--small apple-logo"></s-icon>
</div>

<hr />
<h3>Build in icons</h3>
<pre>   
    &lt;s-icon class=&quot;icon--large vue-logo&quot;&gt;&lt;/s-icon&gt; 
</pre>
<div class="wrapper">
    <s-icon class="icon--large ng-logo"></s-icon>
    <s-icon class="icon--large react-logo"></s-icon>
    <s-icon class="icon--large vue-logo"></s-icon>
    <s-icon class="icon--large flutter-logo"></s-icon>
</div>

<hr/>
<h3>Customize url</h3>
<pre>
    &lt;s-icon class=&quot;icon--large&quot; [myUrl]=&quot;'https://youricon.svg'&quot;&gt;&lt;/s-icon&gt;
</pre>
<div class="wrapper">
    <s-icon class="icon--large" [myUrl]="'https://cdn.svgporn.com/logos/reactivex.svg'"></s-icon>
</div>

<hr/>